$primary-color: black;
$accent-color: #f2134f;
$gray-color: #acacac;
$font: "TradeGothic LT";
$fontB: "TradeGothic LT Bold";
$curve: 10px;

// resets
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  border: none;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

button {
  outline: none;
  &:active,
  &:focus {
    outline: none;
  }
}

// helper classes
.invisible {
  background-attachment: transparent;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
}

.invisible-input {
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.dialogue_box {
  position: absolute;
  bottom: 2em;
  left: 2em;
  width: 300px;
  background-color: white;
  border: 1px solid $gray-color;
  border-radius: $curve;
  display: flex;
}
.dialogue_box__content {
  padding: 1em;
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-family: $font;
}
.dialogue_box__icon {
  margin-right: 0.5em;
}
.dialogue_box__message {
  flex-grow: 1;
}
.dialogue_box__button {
  border: none;
  border-radius: 0 $curve $curve 0;
  background-color: $accent-color;
  color: white;
  padding: 0 1em;
}

// layouts

#fuckingStupidRouterDiv {
  flex-grow: 1;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  padding-top: 120px;
}

.inner-wrapper {
  padding-right: 3em !important;
  padding-left: 3em !important;
  font-family: $font;
}

.sidebar-layout {
  width: 100%;
  display: flex;
}

// components

.icon {
  stroke-width: 1.5px;
  transform: scale(1.2);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2.5em 0;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  &__options {
    svg {
      stroke: $primary-color;
      margin: 0 0.5em;
    }
  }
  .logo {
    fill: $primary-color;
    width: 70px;
  }
}

.sidebar {
  display: flex;
  width: 20%;
  position: fixed;
  flex-direction: column;
}

.order_submitted {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  margin-left: 1.5em;
  border-radius: $curve;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar__hero {
}
.sidebar__hero_item {
  font-size: 2.5em;
  font-family: $fontB;
  &.active {
    color: $accent-color;
  }
}
.sidebar__options {
  margin-top: 3em;
}
.sidebar__option {
  margin-bottom: 1.5em;
  padding: 0 0.2em;
}
.sidebar__option_title {
  margin-bottom: 0.5em;
  color: $gray-color;
  font-family: $fontB;
}
.sidebar__option_item {
  font-size: 1.6em;
}

.sidebar__option_item-small {
  font-size: 1.2em;
  font-family: $font;
  @at-root textarea#{&} {
    height: 100px;
    resize: none;
  }
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}
.product-grid__product {
  width: 200px;
  height: 200px;
  margin: 0.8em;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: $curve;
}

// product page:
.product {
  display: flex;
  height: 100%;
  & > div {
    width: 50%;
  }
}

.product__content {
  padding: 0 2em;
}
.product__info {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}
.product__type {
}
.product__price {
  font-family: $fontB;
  color: $accent-color;
}
.product__title {
  font-size: 2em;
  font-family: $fontB;
}
.product__description {
  font-size: 1.2em;
  margin-top: 1.5em;
}
.product__select_size {
  margin-top: 1.5em;
}
.product__size_title {
  font-family: $fontB;
  color: $gray-color;
}
.product__sizes {
  display: flex;
  flex-wrap: wrap;
}
.product__size {
  &-selected {
    background-color: $accent-color;
    border-color: $accent-color;
    color: white;
  }
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-color;
  color: $primary-color;
  width: 23.5%;
  margin: 1%;
  padding: 0.5em;
  border-radius: $curve;
  &:nth-child(4n + 1) {
    margin-left: 0;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
}
.add-to-cart {
  border: 2px solid $primary-color;
  cursor: pointer;
  color: $primary-color;
  border-radius: $curve;
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em;
  margin-top: 1em;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

// checkout page

.checkout {
}
.checkout__order {
  width: 100%;
}
.checkout__order_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid $gray-color;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
}
.order__item_image {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: $curve;
}
.order__item_info {
  flex-grow: 1;
  padding: 0 2em;
  div {
    display: flex;
    justify-content: space-between;
  }
}
.order__item_title {
  display: flex;
  align-items: baseline;
  font-family: $fontB;
  font-size: 1.5em;
}
.order__item_type {
}
.order__item_size {
  font-size: 0.7em;
  margin-left: 10px;
  color: $accent-color;
  font-family: $font;
}

.order__item_quantity {
  margin: 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__item_quantity_input {
  font-family: $fontB;
  width: 50px;
  text-align: center;
  font-size: 1.2em;
}
.order__item_quantity_arrow {
  stroke: $gray-color;
}

.order__item_price {
  margin: 0 1.5em;
  font-family: $fontB;
  font-size: 1.5em;
}
.order__item_delete {
  cursor: pointer;
  margin-left: 1em;
  stroke: $gray-color;
}

.checkout_button {
  font-family: $fontB;
  font-size: 1.5em;
  padding: 0.5em;
  background-color: $accent-color;
  border: none;
  border-radius: $curve;
  color: white;
}

.slider {
  position: relative;
}
.slider__slide {
  width: 100%;
  height: 100%;
  border-radius: $curve $curve 0 0;
}
.slider__controller {
  position: absolute;
  top: 1em;
  left: 1em;
}

.slider__controller_icon {
  stroke: $gray-color;
  cursor: pointer;
  &.small {
    transform: scale(0.8);
  }
}

.empty_cart {
}
.empty_cart__link {
  color: $gray-color;
  font-family: $fontB;
  font-size: 1.2em;
  &:visited {
    color: $gray-color;
  }
}
